<div class="container">	
	<div>
		<h1 class="text-center"> Editar Jugadores</h1>
	</div>
	<hr>

	<%= render 'form', jugadore: @jugadore %>

	<%= link_to 'Show', @jugadore %> |
	<%= link_to 'Back', jugadores_path %>
</div>