<div class="container">
	<br>
	<div>
		<h1 class="text-center">Registro de Jugador</h1>
	</div>
	<hr>
	<br>
	<%= render 'form', jugadore: @jugadore %>

	<%= link_to 'Regresar', jugadores_path %>
</div>
	
